STL.PDA/Web References/UserLogin/SI_MM028_PDA2SAP_LOGIN_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:p1="http://www.stlerpproject.com.cn/PDA/MM" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_MM028_PDA2SAP_LOGIN_OUT" targetNamespace="http://www.stlerpproject.com.cn/PDA/MM" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_MM028_PDA2SAP_LOGIN_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZMM_PDA_LOGIN.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="RETURN" type="rfc:ZFIS_PDA_LOGIN_RES" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMM_PDA_LOGIN">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="I_IMPORT" type="rfc:ZFIS_PDA_LOGIN_REQ" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZFIS_PDA_LOGIN_REQDATA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="USERID" type="xsd:string" />
          <xsd:element minOccurs="0" name="PASSWORD" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZIFS_001">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="GUID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="36" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IFNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IFDIC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRSYS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ORSYS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IFOPT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZFIS_PDA_LOGIN_REQ">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ZCONTROL" type="rfc:ZIFS_001" />
          <xsd:element minOccurs="0" name="ZDATA" type="rfc:ZFIS_PDA_LOGIN_REQDATA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZFIS_PDA_LOGIN_RES">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="GUID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="36" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUSNO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IF_STATU">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IFMSG">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="300" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DATA" type="rfc:ZFIS_PDA_LOGIN_RESDATA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZFIS_PDA_LOGIN_RESDATA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="USERID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZPDANAME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DEPTNAME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TEL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MEMOS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LGNUM">
            <xsd:annotation>
              <xsd:documentation>Warehouse Number / Warehouse Complex</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZMM_PDA_LOGIN.Input">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZMM_PDA_LOGIN" />
  </wsdl:message>
  <wsdl:message name="rfc.ZMM_PDA_LOGIN.Output">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZMM_PDA_LOGIN.Response" />
  </wsdl:message>
  <wsdl:portType name="SI_MM028_PDA2SAP_LOGIN_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_MM028_PDA2SAP_LOGIN_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_MM028_PDA2SAP_LOGIN_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZMM_PDA_LOGIN.Input" />
      <wsdl:output message="p1:rfc.ZMM_PDA_LOGIN.Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_MM028_PDA2SAP_LOGIN_OUTBinding" type="p1:SI_MM028_PDA2SAP_LOGIN_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_MM028_PDA2SAP_LOGIN_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_MM028_PDA2SAP_LOGIN_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_MM028_PDA2SAP_LOGIN_OUTBinding">
      <address location="http://sap-podev.satlpec.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WINCE&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MM028_PDA2SAP_LOGIN_OUT&amp;interfaceNamespace=http%3A%2F%2Fwww.stlerpproject.com.cn%2FPDA%2FMM" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_MM028_PDA2SAP_LOGIN_OUTBinding">
      <address location="https://sap-podev.satlpec.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_WINCE&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MM028_PDA2SAP_LOGIN_OUT&amp;interfaceNamespace=http%3A%2F%2Fwww.stlerpproject.com.cn%2FPDA%2FMM" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>